@import "../styles/index.scss";

.login-container {
  display: flex;

  .form {
    text-align: center;
    margin: 0 auto;
    width: 362px;
    padding: 46px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 112px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 15px;
      margin-left: -84px;
      margin-bottom: 10px;
      margin-top: 24px;
      color: gray;
      font-weight: 100;
    }

    form {
      .form__input {
        margin-bottom: 15px;

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      button {
        width: 100%;
        padding: 8px;
        background-color: $colorPrincipal;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(106, 179, 238, 0.5);
        &:hover {
            background-color: lighten($colorBotonSecundario, 10%);
            box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5); 
          }
      }
      
      .form__link_contrasena {
        margin-top: 15px;
        h6 {
          font-size: 14px;
          font-weight: 100;
          cursor: pointer;
        }
      }
    }
  }
  .sidebar {
    text-align: center;
    margin: 0 auto;
    width: 362px;
    padding: 46px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 112px;
    margin-top: 112px;
    margin-left: -321px;
    background-color: $colorPrincipal;
  }
  .logo {
    text-align: center;
    margin-top: 107px;

    img {
      width: 300px;
    }
  }
}
