#calendar {
  &.custom-calendar {
    .fc-toolbar-chunk {
      .fc-dayGridMonth-button {
        background-color: #2e6c80;
        box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5);
      }





      

      .fc-timeGridWeek-button {
        background-color: #2e6c80;
        box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5);
      }

      .fc-listWeek-button {
        background-color: #2e6c80;
        box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5);
      }
      .fc-prev-button {
        background-color: #2e6c80;
        box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5);
      }
      .fc-next-button {
        background-color: #2e6c80;
        box-shadow: 0 4px 8px rgba(106, 179, 238, 0.5);
      }
      .fc-today-button {
        background: linear-gradient(to right, #7a7a7a, #bebebe);
        box-shadow: 0 4px 8px rgba(122, 122, 122, 0.5);
      }
    }
  }
}
