.btnDescarga {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: none;
    background-color: #0d6efd;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
        background-color: #0b5ed7;
        transition: .1s ease-in-out;
    }
    &:active{
        transform: scale(.9);
        transition: .09s ease-in-out ;
    }
}