// main {
//     background-color: #337cb7;
//     color: white;
//     padding: 1rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// h2{
//     font-size: 1rem;
//     font-weight: 400;
// }

// input, select{
//     margin: 10px;
//     gap: 10px
// }

.names{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.document{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.teléfono{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dirección{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.curso{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cohorte{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.edad{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.registro{
    display: flex;
    align-items: center;
    position: relative;
    left: 40%;
    margin-top: 3%;
}

