.table{
    margin-left: 1%;
    margin-top: 5%;
    line-height: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons{
    background-color: #25ABBC;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    width: 10%;
 
}

.main__panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

.container__buttons{
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: -69px;
    position: absolute;
    margin-left: 279px;
}

.filter__search{
    width: 30%;
    padding: 8px;
    font-size: 14px;
    background-color: rgb(197 197 197 / 26%);
    border-color: rgb(0 0 0 / 49%);
    border-radius: 29px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border: 2px solid rgba(255, 255, 255, 0.514);
    
}

.container__inputs{
    display: flex;
    justify-content: end;
    gap: 18px;
}

.contenedor__icon_search {
    position: absolute;
    /* width: 35px; */
    top: 12%;
    right: 3%;
    font-size: 21px;
    cursor: pointer;
  }
