.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    justify-content: space-evenly
}

.sidebar{
    height: calc(100vh - 56px);
    position: fixed;
    top: 70px;
    padding: 3.2rem;
    background-color: rgb(219, 219, 219);
}

.table{
    margin-left: 13%;
    margin-top: 1%;
    line-height: normal;
    background-color: whitesmoke;
}

.buttons{
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
