.notas{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6AB3EE;
    margin-left: 5%;
    padding: 3%;

}

.notas__cards{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 35vw;
}
.notas__cards-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.porcentaje{
    position: relative;
    left: 70%;
    margin-top: -10%;
}
.porcentaje2{
    position: relative;
    left: 35%;
}

.notas__porcentajes{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 7%;
    gap: 20px;
    width: 25vw;
}

// .notas__actual{
//     background-color: white;
//     border-radius: 5%;
//     height: 30vh;
// }
// .notas__promedio{
//     background-color: white;
//     border-radius: 5%;
//     height: 30vh;
// }