@import "../mixin";
@import "../index.scss";

button {
    @include buttonSquare3;
}

;

.inputs {
    margin-top: 110px;



    h1 {
        font-weight: bolder;
        font-size: xx-large;
        color: #03203a;
    }

    &__titulo {
        display: flex;
        justify-content: center;
    }

    label {
        @include Texto1($color: 'gris', $fontWeight: 'grueso');

    }

    select {
        background-color: $colorFondoContenido;

    }

    option {
        background-color: $colorBotonSecundario;
        color: $colorFondoContenido;

        select#mySelect option:selected {
            /* Estilos para la opción seleccionada */
            background-color: $colorBotonExcel;
            color: $colorFondoContenido;
        }
    }

    form {
        gap: 23px;
        flex-direction: column;
        display: flex;
        justify-content: inherit;
        align-items: baseline;
        margin-left: 16rem;
        margin-top: 4rem;

        @media (min-width: 400px) {
            gap: 10px;
            flex-direction: column;
            display: flex;
            justify-content: inherit;
            align-items: baseline;
            margin-left: 3rem;
            margin-top: 2rem;

        }

    }

    &__input {
        gap: 10px;
        display: flex;
        padding-top: 10px;
        align-items: center;
    }

    input#archivo {
        border: solid 2px $colorFondoContenido;
        width: initial;

    }

    button#botonparasubirarchivo {
        margin-top: 10px;
    }
}

#inputs__titulo__responsive {
    h1 {
        font-size: large;
    }


}