@import "../index.scss";

.sidebar {
    width: 25%;
    margin-top: 57px;
    z-index: 996;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    transition: transform 1s ease; 
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #03203A;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}